<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <settings>
     <setting name="mapUnderscoreToCamelCase" value="true" />
     <setting name="jdbcTypeForNull" value="NULL" />
     <setting name="defaultExecutorType" value="REUSE" />
  </settings>
  
  <typeAliases>
    <package name="com.lunarcell.authorizationServer.model"/>
  </typeAliases>

  <typeHandlers>
    <package name="com.lunarcell.authorizationServer.typehandler"/>
  </typeHandlers>

  <plugins>
    <plugin interceptor="com.lunarcell.authorizationServer.plugin.RepoInterceptor"/>
  </plugins>
  
  <mappers>
    <package name="com.lunarcell.authorizationServer.mapper"/>
  </mappers>
  
</configuration>